
        <!-- About -->
        <section class=" iq-breadcrumb3 text-left main-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-12">
                        <div class="mb-0">
                            <h1 class="text-white">Pricing</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <nav aria-label="breadcrumb" class="text-right">
                            <ol class="breadcrumb main-bg">
                                <li class="breadcrumb-item"><a href="index.html"><i class="ion-android-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <img class="img iq-breadcrumb3-after" src="../images/about/about-shap.png" alt="image">
    </section>
            <!-- About End -->
            <!--=================================
    MAIN CONTENT -->
            <div class="main-content">
                <!-- Eas Pricing Plans-->
                <section class="iq-pricing">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box">
                                    <h2 class="title font-weight-bold">Choose an annual membership</h2>
                                    <p class="sub-title">All membership packages come with a 10-day satisfaction guarantee.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters mt-2">
                            <div class="col-lg-4 col-sm-12">
                                <div class="pricing-box text-center ">
                                    <div class="price-head mt-2 mb-2">Standard</div>
                                    <div class="price-blog pt-4 pb-4 main-bg">
                                        <div class="price"> <span class="currency">$</span><strong>29/</strong><span class="month">Standard</span> </div>
                                    </div>
                                    <div class="listing">
                                        <ul class="mt-5">
                                            <li>
                                                <span class="time-of-year">
                        Case Management
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Hourly and Flat Fee Billing
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Custom Invoices
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Task Management
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Devices
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Payment Plans
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Clio Launcher
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Trust Requests
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Advanced Reporting
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                        Priority Support
                        <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="button grey mt-5" href="#" role="button">Choose Package</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="pricing-box text-center ">
                                    <div class="price-head mt-2 mb-2">Plus</div>
                                    <div class="price-blog pt-4 pb-4 main-bg">
                                        <div class="price"> <span class="currency">$</span><strong>39/</strong><span class="month">Month</span> </div>
                                    </div>
                                    <div class="listing">
                                        <ul class="mt-5">
                                            <li>
                                                <span class="time-of-year">
                          Advanced Reporting
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Priority Support
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Case Management
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Hourly and Flat Fee Billing
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Devices
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Payment Plans
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Clio Launcher
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Trust Requests
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Custom Invoices
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                          Task Management
                          <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="button grey mt-5" href="#" role="button">Choose Package</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="pricing-box text-center ">
                                    <div class="price-head mt-2 mb-2">Premium</div>
                                    <div class="price-blog pt-4 pb-4 main-bg">
                                        <div class="price"> <span class="currency">$</span><strong>49/</strong><span class="month">Month</span> </div>
                                    </div>
                                    <div class="listing">
                                        <ul class="mt-5">
                                            <li>
                                                <span class="time-of-year">
                            Custom Invoices
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Task Management
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Case Management
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Hourly and Flat Fee Billing
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Devices
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Payment Plans
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Clio Launcher
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Trust Requests
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Advanced Reporting
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                            <li>
                                                <span class="time-of-year">
                            Priority Support
                            <span class="tooltip">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</span>
                                                <i class="ion-information-circled"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="button grey mt-5" href="#" role="button">Choose Package</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Eas Pricing Plans-->
            </div>
            <!--=================================
          MAIN CONTENT -->
            <!--=================================
          Clients -->
            <!-- Footer start-->
            <footer id="contact" class="iq-footerr main-bg fshap ">
                <img class="img fshap-after" src="images/banner/fshap.png" alt="image">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-6 ">
                                <h4 class= "text-white  mb-3">Menu</h4>
                                <ul class="menu">                                    
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="features.html">Features</a></li>                                    
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 iq-rmt-20">
                                <h4 class= "text-white  mb-3">Subscribe To Newsletter</h4>
                                <form class="form-inline mb-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control search-btn" id="inputPassword2" placeholder="Email">
                                    </div>
                                    <a href="JavaScript:Void(0);" class="button submit-btn">Submit</a>
                                </form>
                                <span class="text-white d-inline">Follow Us :</span>
                                <ul class="info-share d-inline">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="contact-bg">
                                    <h4 class= "text-white iq-rmt-30  mb-3">Address</h4>
                                    <ul class="iq-contact text-white">
                                        <li>
                                            <i class="fas fa-phone"></i>
                                            <p>TO BE UPDATE</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>TO BE UPDATE</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <p>TO BE UPDATE</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="logo iq-rmt-30">
                                    <!--<a href="index.html"><img src="images/logo.png" class="img" alt="img"></a>-->
                                    <h3 style="color:white">LegalCyclopedia</h3>
                                    <p class="mt-3 text-white">Our goal is to better assist you.</p>
                                    <!--<div class="mt-3 text-white link">Design By@ <a href="https://iqonicthemes.com/"> iqonictheme.com </a> </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- back-to-top -->
                <div id="back-to-top">
                    <a class="top" id="top" href="#top"><span>Scroll Up</span> <i class="ion-ios-arrow-thin-up"></i></a>
                </div>
                <!-- back-to-top End -->
            </footer>
            <!-- Footer End-->
            
      
