/*
Template: Vizion-Al/ML-Data Analysis Responsive HTML5 Template
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in
*/

/*****************
================================================
(  Media Queries  )
================================================
*******************/
@media only screen and (min-width:1890px) and (max-width:2529px) { }
@media(max-width:1399px) { }
@media(max-width:1365px) { }
@media(max-width:1299px) { }
@media(max-width:1199px) {
	.pricing-box { margin-bottom: 30px; }
	footer .info-share a i.fab { line-height: 38px; }
	footer .info-share a { width: 39px; height: 39px; line-height: 38px; }
	.iq-team .share ul li a { width: 30px; height: 30px; line-height: 30px; font-size: 14px; }
	.blog-box .content { padding: 18px; }
	.title i { font-size: 20px; line-height: 30px; }
	footer ul li{margin: 0px 4px;}
	.iq-frequently {
    padding: 60px 90px 40px 50px;
}

}
@media only screen and (min-width : 1024px) { 

}
@media(max-width:992px) {
	.iq-breadcrumb3 h1{font-size: 30px; line-height:40px; text-align: center;}
	section { padding: 50px 0; }
	.iq-team { margin-top: 40px; margin-right: 10px;}
	section { padding: 50px 0; }
	.iq-rmt-30 { margin-top: 30px; }
	.how-it-works { text-align: center; }
	.easy-pricing-plans .pricing-box .button { padding: 10px 14px; font-size: 14px; }
	.title-box { margin-bottom: 40px; }
	.banner { padding: 150px 0 124px 0; }
	.iq-team .share { top: 71px; }
	.iq-team .share ul li { margin: 12px 0; }
	.iq-clients .owl-carousel .owl-item img { margin: 0 auto; }
	footer .submit-btn { right: 45px; }
	.iq-breadcrumb3 nav { text-align: center !important; margin-top: 30px; }
	.banner .banner-text { padding-top: 0; }
	h3 { font-size: 26px; line-height: 36px; }
	.iq-tab.horizontal .nav-item { width: 26%; margin-bottom: 10px; }
	.iq-tab .nav-pills { background-color: transparent; }
	.iq-team .share ul li a { width: 40px; height: 40px; line-height: 42px; }
	.blogdetailbox .iq-sidebar-widget .iq-post li { width: 100% }
	.blogdetailbox .iq-sidebar-widget .post-img img { width: 60px; }
	.iq-breadcrumb3 { padding: 141px 0 185px 0; }
	header .navbar-light .navbar-collapse { position: absolute; top: 62px; width: 100%; background-color: #ffffff; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
	header .navbar-light .navbar-toggler { border-color: #815ded; }
	header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .nav-link:focus { color: rgba(0, 0, 0, .9); }
	header .navbar-light .navbar-nav li.active .nav-link, header .navbar-light .navbar-nav li .nav-link:hover { color: #4726cd; background: transparent; }
	header.menu-sticky .navbar-light .navbar-nav li.active .nav-link, header.menu-sticky .navbar-light .navbar-nav li .nav-link:hover { color: #4726cd; background: transparent; }
	footer .iq-contact li { width: 100%; }
	footer img.fshap-after { display: none; }
	footer .footer-top { padding-top: 50px;padding-bottom: 25px; }
	.banner img.banner-round { max-width: 74%; top: -13%; right: 17%; }
	.banner img.banner-person { max-width: 74%; left: 7%; }
	.banner .banner-text { text-align: center; margin-bottom: 40px; }
	.banner { padding: 150px 0 9px 0; }
	.iq-pricing .row.no-gutters .col-lg-4.col-sm-12 .pricing-box:last-child { border-right: 1px solid #e2e2e2; }
	.iq-pricing .row.no-gutters .col-lg-4.col-sm-12:last-child { border-right: 1px solid transparent; }
	.play-video { left: 30px; }
	.iq-coming .iq-subscribe .form-group { width: 100%; display: inline-block; }
	.iq-clients .item { margin: 0 !important; }
	.blogdetailbox .re-space{margin-top: 50px;}
	.iq-asked-img img {
    position:inherit;
    left: inherit;
    top: inherit;
    -webkit-transform:inherit;
    transform: inherit;
}
.pink-bg.mt-5{margin-top: 0 !important;}

}
@media(max-width:979px) {
	.how-it-works { text-align: center; }
	.iq-team .share ul li { margin: 5px 0; }
	.iq-breadcrumb3 h3 { text-align: center; }
	.iq-breadcrumb3 nav { text-align: center !important; margin-top: 30px; }
	.iq-team .share { top: 47px; }
	.iq-team:hover .iq-team-info { padding: 0; }
	footer .submit-btn { right: 60px; }
	.iq-breadcrumb3 img.iq-breadcrumb3-after { display: none; }
	.iq-breadcrumb3 { padding: 141px 0 85px 0; }
	.banner img.banner-after { display: none; }
	.banner { padding: 150px 0 65px 0; }
	.iq-frequently { padding: 60px 50px 40px 50px; }
}
@media(max-width:767px) {
	.iq-team-img img { margin-top: 30px; }
	.button-banner { margin-bottom: 40px; }
	.how-it-works { text-align: center; }
	.title-box .sub-title { margin: 0 5px; }
	footer .submit-btn { right: 0px; top: 85px; }
	.iq-tab.horizontal .nav-item { width: 43%; }
	.iq-rmt-20 { margin-top: 30px; }
	h2 { font-size: 34px; line-height: 44px; }
	.blogdetailbox .media { display: inline-block; }
	.blogdetailbox .iq-comment-list .media-body h5 { margin-top: 10px; }
	.iq-coming .iq-subscribe .form-group { width: 100%; }
	footer .footer-top{padding-bottom: 50px;}
	.blogdetailbox .iq-blog-entry .media-box li{margin: 0 6px; float: left;}
	.media-box.mt-4{ margin-top: 0 !important; display: inline-block;}
	.blogdetailbox .iq-blogbox .iq-blog-entry .iq-entry-image img{ margin-top: 40px;}
	
}
@media(max-width:600px) { }
@media(max-width:575px) {
	footer .submit-btn { left: 210px; top: 44px; right: inherit; }
	.iq-coming .iq-subscribe .form-control { width: 100%; }
	.iq-coming .big-text { font-size: 50px;color: #ffffff; line-height: 60px;}
}
@media(max-width:479px) {
	.button-banner { margin-bottom: 40px; }
	.how-it-works { padding: 10px; }
	.title-box .sub-title { margin: 0 5px; }
	.easy-pricing-plans.gray-bg { padding: 30px 0; }
	.title-box .title { margin-bottom: 10px; font-size: 35px; line-height: 45px; }
	.iq-team-img img { margin-top: 30px; }
	.iq-frequently { padding: 45px 15px; }
	h3 { font-size: 25px; line-height: 35px; }
	.iq-tab.horizontal .nav-item { width: 50%; }
	.iq-tab.horizontal .nav-item a { font-size: 14px; font-weight: 700; }
	.blogdetailbox .info-block { padding: 0; }
	.iq-login-regi .iq-login .link { text-align: left; }
	h1 { font-size: 42px; line-height: 52px; }
	.time-of-year .tooltip { width: 280px; left: 63%; }
	.iq-coming #countdown li { margin: 0 50px; }
	.coming-height { height: 1000px; }
    .iq-coming #countdown li span { font-size: 24px; line-height: 24px;}
    .iq-coming #countdown li p { font-size: 14px; line-height: 20px; font-weight: inherit; }
    .iq-coming #countdown li span:after {content: none;}
	.iq-coming form .form-control { width: 230px;}

}
@media(max-width:359px) {
	.iq-coming .big-text { font-size: 32px; line-height: 42px;}
	.iq-coming h5{font-size: 14px;}
	.iq-coming #countdown{margin-top: 20px !important;}
	.iq-coming .form-row>.col, .iq-coming .form-row>[class*=col-]{width: 100%;}
	.iq-coming form .form-control, .iq-coming form .button { width: 100%; border-radius: 90px; text-align: center;}
	.iq-video { width: 50px; height: 50px; font-size: 25px; line-height: 50px; }
	.play-video { left: 20px; top: 15px; }
	footer .submit-btn { left: 175px; }
	.iq-coming #countdown li { margin: 0; width: 100%; }
	footer .info-share a { width: 36px; height: 36px; line-height: 36px; }
	footer .info-share a i.fab { line-height: 36px; }
}